ul.dropdown-menu {
  width: 100%;
  border-bottom: solid;
}

li.navList {
  width: 100%;
  padding: 1em;
  cursor: pointer;
}

li.navList:hover {
  background-color: #d3d3d3;
}

.modal-title {
  width: 100%;
}

.modalHeader {
  text-align: center;
}

.fa-lock {
  color: #666666;
}

.fa-envelope {
  color: #666666;

}

#forgot {
  margin-left: .75em;
  width: 95%;
}
