ul.dropdown-menu {
  width: 100%;
  border-bottom: solid;
}

li.navList {
  width: 100%;
  padding: 1em;
  cursor: pointer;
}

li.navList:hover {
  background-color: #d3d3d3;
}

.hideMe {
  display: none;
}

.modal-title {
  width: 100%;
}

.modalHeader {
  text-align: center;
}

.fa-lock {
  color: #666666;
}

.fa-envelope {
  color: #666666;
}

.form-control {
  margin-left: 2em;
  max-width: 27em;
}

#forgot {
  margin-left: .75em;
  width: 95%;
}

#postButton {
  z-index: 2;
  position: fixed;
  bottom: 3em;
  right: 2em;
  height: 5em;
  width: 2em;
  border-radius: 100%;
}

#postButton i {
  font-size: 3em;
  right: .35em;
}
